body {
  margin: 0;
  font-family: Muli, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #343434;
}

header {
  text-align:center;
}

a {
  color: #1abc9c;
  font-size: 1.5rem;
}

ol {
  margin: 0;
  padding-left: 15px;
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: 700;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
  /*padding: 5px 0*/
}

.section-wrapper {
  margin: 0 10%;
}

section {
  /*border-left: 5px solid #1abc9c;*/
  /*background-color: #e6e6e6;*/
  position: relative;
  min-height: 100vh;
  padding: 25px 0;
}

section.questions {
  padding-top: 0;
}

section.project {
  min-height: calc(100vh - 10px);
  padding-bottom: 0;
}

.section-header {
  border-left: 10px solid #1abc9c;
  padding: 10px;
  color: #fff;
  background-color: #343434;
  z-index: -1;
}

.icon {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 20rem;
  color: rgba(0,0,0,.05);
  z-index: -1;
}

.note,
.link {
  padding-left: 15px;
}

.note {
  font-style: italic;
}

.link {
  text-decoration: none;
}

.link:hover,
.steps {
  text-decoration: underline;
}
